USE [master]
GO
/****** Object:  Database [EstatelyDB]    Script Date: 11/30/2025 12:12:15 PM ******/
CREATE DATABASE [EstatelyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EstatelyDB', FILENAME = N'D:\Apps\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EstatelyDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EstatelyDB_log', FILENAME = N'D:\Apps\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EstatelyDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EstatelyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EstatelyDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UserTypeID] [int] NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NOT NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [int] NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LkpAppointmentStatus]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LkpAppointmentStatus](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_LkpAppointmentStatus] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LkpPropertyStatus]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LkpPropertyStatus](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_LkpPropertyStatus] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LkpPropertyTypes]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LkpPropertyTypes](
	[PropertyTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_LkpPropertyTypes] PRIMARY KEY CLUSTERED 
(
	[PropertyTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LkpUserType]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LkpUserType](
	[UserTypeID] [int] IDENTITY(1,1) NOT NULL,
	[UserTypeName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_LkpUserType] PRIMARY KEY CLUSTERED 
(
	[UserTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblAppointments]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblAppointments](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[StatusID] [int] NOT NULL,
	[PropertyID] [int] NOT NULL,
	[EmployeeClientID] [int] NOT NULL,
	[AppointmentDate] [datetime] NOT NULL,
	[Notes] [text] NULL,
 CONSTRAINT [PK_TblAppointments] PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblBranchDepartments]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblBranchDepartments](
	[BranchDepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[BranchID] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_TblBranchDepartments] PRIMARY KEY CLUSTERED 
(
	[BranchDepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblBranches]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblBranches](
	[BranchID] [int] IDENTITY(1,1) NOT NULL,
	[BranchName] [nvarchar](255) NOT NULL,
	[ManagerName] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Phone] [varchar](255) NOT NULL,
 CONSTRAINT [PK_TblBranches] PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblCities]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblCities](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](255) NOT NULL,
 CONSTRAINT [PK_TblCities] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblClientProfiles]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblClientProfiles](
	[ClientProfileID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[FirstName] [nvarchar](255) NULL,
	[LastName] [nvarchar](255) NULL,
	[Phone] [varchar](50) NULL,
	[Address] [nvarchar](255) NULL,
	[ProfilePhoto] [nvarchar](800) NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_TblClientProfiles] PRIMARY KEY CLUSTERED 
(
	[ClientProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblDepartments]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblDepartments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](255) NOT NULL,
	[ManagerName] [nvarchar](100) NULL,
	[Email] [varchar](255) NULL,
	[Phone] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_TblDepartments] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblDeveloperProfiles]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblDeveloperProfiles](
	[DeveloperProfileID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[DeveloperTitle] [nvarchar](255) NOT NULL,
	[DeveloperName] [nvarchar](255) NULL,
	[WebsiteURL] [varchar](800) NULL,
	[PortofolioPhoto] [varchar](800) NULL,
	[Phone] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_TblDeveloperProfiles] PRIMARY KEY CLUSTERED 
(
	[DeveloperProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblEmployeeClients]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblEmployeeClients](
	[EmployeeClientID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[ClientProfileID] [int] NOT NULL,
	[AssignmentDate] [datetime] NULL,
 CONSTRAINT [PK_TblEmployeeClients] PRIMARY KEY CLUSTERED 
(
	[EmployeeClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblEmployees]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblEmployees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[BranchDepartmentId] [int] NULL,
	[JobTitleId] [int] NOT NULL,
	[ReportsTo] [int] NULL,
	[FirstName] [nvarchar](255) NOT NULL,
	[LastName] [nvarchar](255) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Nationalid] [nvarchar](14) NOT NULL,
	[ProfilePhoto] [nvarchar](800) NULL,
	[HireDate] [datetime] NULL,
	[Salary] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_TblEmployees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblFavorites]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblFavorites](
	[FavoriteID] [int] IDENTITY(1,1) NOT NULL,
	[ClientProfileID] [int] NOT NULL,
	[PropertyID] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_TblFavorites] PRIMARY KEY CLUSTERED 
(
	[FavoriteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblJobTitles]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblJobTitles](
	[JobTitleId] [int] IDENTITY(1,1) NOT NULL,
	[JobTitleName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_TblJobTitles] PRIMARY KEY CLUSTERED 
(
	[JobTitleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblProperties]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblProperties](
	[PropertyID] [int] IDENTITY(1,1) NOT NULL,
	[AgentId] [int] NULL,
	[DeveloperProfileID] [int] NULL,
	[PropertyTypeID] [int] NOT NULL,
	[StatusId] [int] NULL,
	[ZoneID] [int] NOT NULL,
	[YearBuilt] [int] NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[FloorNo] [int] NULL,
	[BedsNo] [int] NOT NULL,
	[BathsNo] [int] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Area] [decimal](10, 2) NOT NULL,
	[ListingDate] [datetime] NULL,
	[ExpectedRentPrice] [decimal](10, 2) NULL,
	[IsDeleted] [bit] NULL,
	[Latitude] [decimal](9, 6) NOT NULL,
	[Longitude] [decimal](9, 6) NOT NULL,
	[PropertyCode] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TblProperties] PRIMARY KEY CLUSTERED 
(
	[PropertyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblPropertyFeatures]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblPropertyFeatures](
	[FeatureID] [int] IDENTITY(1,1) NOT NULL,
	[FeatureName] [varchar](255) NOT NULL,
	[Description] [nvarchar](800) NULL,
	[IsAmenity] [bit] NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_TblPropertyFeatures] PRIMARY KEY CLUSTERED 
(
	[FeatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblPropertyFeaturesMapping]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblPropertyFeaturesMapping](
	[PropertyID] [int] NOT NULL,
	[FeatureID] [int] NOT NULL,
	[Value] [varchar](255) NULL,
 CONSTRAINT [PK_TblPropertyFeaturesMapping] PRIMARY KEY CLUSTERED 
(
	[PropertyID] ASC,
	[FeatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblPropertyImages]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblPropertyImages](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[PropertyID] [int] NOT NULL,
	[ImagePath] [varchar](255) NOT NULL,
	[UploadedDate] [datetime] NULL,
 CONSTRAINT [PK_TblPropertyImages] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblZones]    Script Date: 11/30/2025 12:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblZones](
	[ZoneID] [int] IDENTITY(1,1) NOT NULL,
	[CityID] [int] NOT NULL,
	[ZoneName] [varchar](255) NOT NULL,
 CONSTRAINT [PK_TblZones] PRIMARY KEY CLUSTERED 
(
	[ZoneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUsers_UserTypeID]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUsers_UserTypeID] ON [dbo].[AspNetUsers]
(
	[UserTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TblAppointments]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TblAppointments] ON [dbo].[TblAppointments]
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TblAppointments_EmployeeClientID]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_TblAppointments_EmployeeClientID] ON [dbo].[TblAppointments]
(
	[EmployeeClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TblAppointments_PropertyID]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_TblAppointments_PropertyID] ON [dbo].[TblAppointments]
(
	[PropertyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TblBranchDepartments_BranchID]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_TblBranchDepartments_BranchID] ON [dbo].[TblBranchDepartments]
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TblBranchDepartments_DepartmentID]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_TblBranchDepartments_DepartmentID] ON [dbo].[TblBranchDepartments]
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TblClientProfiles]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TblClientProfiles] ON [dbo].[TblClientProfiles]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TblDeveloperProfiles]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TblDeveloperProfiles] ON [dbo].[TblDeveloperProfiles]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TblEmployeeClients_ClientProfileID]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_TblEmployeeClients_ClientProfileID] ON [dbo].[TblEmployeeClients]
(
	[ClientProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TblEmployeeClients_EmployeeID]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_TblEmployeeClients_EmployeeID] ON [dbo].[TblEmployeeClients]
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TblEmployees]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TblEmployees] ON [dbo].[TblEmployees]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TblEmployees_BranchDepartmentId]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_TblEmployees_BranchDepartmentId] ON [dbo].[TblEmployees]
(
	[BranchDepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TblEmployees_JobTitleId]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_TblEmployees_JobTitleId] ON [dbo].[TblEmployees]
(
	[JobTitleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TblEmployees_ReportsTo]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_TblEmployees_ReportsTo] ON [dbo].[TblEmployees]
(
	[ReportsTo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TblFavorites_ClientProfileID]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_TblFavorites_ClientProfileID] ON [dbo].[TblFavorites]
(
	[ClientProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TblFavorites_PropertyID]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_TblFavorites_PropertyID] ON [dbo].[TblFavorites]
(
	[PropertyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TblProperties_1]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TblProperties_1] ON [dbo].[TblProperties]
(
	[PropertyCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TblProperties_AgentId]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_TblProperties_AgentId] ON [dbo].[TblProperties]
(
	[AgentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TblProperties_DeveloperProfileID]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_TblProperties_DeveloperProfileID] ON [dbo].[TblProperties]
(
	[DeveloperProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TblProperties_PropertyTypeID]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_TblProperties_PropertyTypeID] ON [dbo].[TblProperties]
(
	[PropertyTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TblProperties_StatusId]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_TblProperties_StatusId] ON [dbo].[TblProperties]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TblProperties_ZoneID]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_TblProperties_ZoneID] ON [dbo].[TblProperties]
(
	[ZoneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TblPropertyFeaturesMapping_FeatureID]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_TblPropertyFeaturesMapping_FeatureID] ON [dbo].[TblPropertyFeaturesMapping]
(
	[FeatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TblPropertyImages_PropertyID]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_TblPropertyImages_PropertyID] ON [dbo].[TblPropertyImages]
(
	[PropertyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TblZones_CityID]    Script Date: 11/30/2025 12:12:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_TblZones_CityID] ON [dbo].[TblZones]
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblBranchDepartments] ADD  CONSTRAINT [ZF_TblBranchDepartments]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TblDepartments] ADD  CONSTRAINT [BF_TblDepartments]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TblDeveloperProfiles] ADD  CONSTRAINT [CF_TblDeveloperProfiles]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TblEmployees] ADD  CONSTRAINT [DF_TblEmployees]  DEFAULT (getdate()) FOR [HireDate]
GO
ALTER TABLE [dbo].[TblProperties] ADD  CONSTRAINT [DF_TblProperties_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TblPropertyFeatures] ADD  CONSTRAINT [PF_TblPropertyFeatures]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_LkpUserType_UserTypeID] FOREIGN KEY([UserTypeID])
REFERENCES [dbo].[LkpUserType] ([UserTypeID])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_LkpUserType_UserTypeID]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[TblAppointments]  WITH CHECK ADD  CONSTRAINT [FK_TblAppointments_LkpAppointmentStatus_StatusID] FOREIGN KEY([StatusID])
REFERENCES [dbo].[LkpAppointmentStatus] ([StatusId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblAppointments] CHECK CONSTRAINT [FK_TblAppointments_LkpAppointmentStatus_StatusID]
GO
ALTER TABLE [dbo].[TblAppointments]  WITH CHECK ADD  CONSTRAINT [FK_TblAppointments_TblEmployeeClients_EmployeeClientID] FOREIGN KEY([EmployeeClientID])
REFERENCES [dbo].[TblEmployeeClients] ([EmployeeClientID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblAppointments] CHECK CONSTRAINT [FK_TblAppointments_TblEmployeeClients_EmployeeClientID]
GO
ALTER TABLE [dbo].[TblAppointments]  WITH CHECK ADD  CONSTRAINT [FK_TblAppointments_TblProperties_PropertyID] FOREIGN KEY([PropertyID])
REFERENCES [dbo].[TblProperties] ([PropertyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblAppointments] CHECK CONSTRAINT [FK_TblAppointments_TblProperties_PropertyID]
GO
ALTER TABLE [dbo].[TblBranchDepartments]  WITH CHECK ADD  CONSTRAINT [FK_TblBranchDepartments_TblBranches_BranchID] FOREIGN KEY([BranchID])
REFERENCES [dbo].[TblBranches] ([BranchID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblBranchDepartments] CHECK CONSTRAINT [FK_TblBranchDepartments_TblBranches_BranchID]
GO
ALTER TABLE [dbo].[TblBranchDepartments]  WITH CHECK ADD  CONSTRAINT [FK_TblBranchDepartments_TblDepartments_DepartmentID] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[TblDepartments] ([DepartmentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblBranchDepartments] CHECK CONSTRAINT [FK_TblBranchDepartments_TblDepartments_DepartmentID]
GO
ALTER TABLE [dbo].[TblClientProfiles]  WITH CHECK ADD  CONSTRAINT [FK_TblClientProfiles_AspNetUsers_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[TblClientProfiles] CHECK CONSTRAINT [FK_TblClientProfiles_AspNetUsers_UserID]
GO
ALTER TABLE [dbo].[TblDeveloperProfiles]  WITH CHECK ADD  CONSTRAINT [FK_TblDeveloperProfiles_AspNetUsers_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[TblDeveloperProfiles] CHECK CONSTRAINT [FK_TblDeveloperProfiles_AspNetUsers_UserID]
GO
ALTER TABLE [dbo].[TblEmployeeClients]  WITH CHECK ADD  CONSTRAINT [FK_TblEmployeeClients_TblClientProfiles_ClientProfileID] FOREIGN KEY([ClientProfileID])
REFERENCES [dbo].[TblClientProfiles] ([ClientProfileID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblEmployeeClients] CHECK CONSTRAINT [FK_TblEmployeeClients_TblClientProfiles_ClientProfileID]
GO
ALTER TABLE [dbo].[TblEmployeeClients]  WITH CHECK ADD  CONSTRAINT [FK_TblEmployeeClients_TblEmployees_EmployeeID] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[TblEmployees] ([EmployeeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblEmployeeClients] CHECK CONSTRAINT [FK_TblEmployeeClients_TblEmployees_EmployeeID]
GO
ALTER TABLE [dbo].[TblEmployees]  WITH CHECK ADD  CONSTRAINT [FK_TblEmployees_AspNetUsers_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[TblEmployees] CHECK CONSTRAINT [FK_TblEmployees_AspNetUsers_UserID]
GO
ALTER TABLE [dbo].[TblEmployees]  WITH CHECK ADD  CONSTRAINT [FK_TblEmployees_TblBranchDepartments_BranchDepartmentId] FOREIGN KEY([BranchDepartmentId])
REFERENCES [dbo].[TblBranchDepartments] ([BranchDepartmentID])
GO
ALTER TABLE [dbo].[TblEmployees] CHECK CONSTRAINT [FK_TblEmployees_TblBranchDepartments_BranchDepartmentId]
GO
ALTER TABLE [dbo].[TblEmployees]  WITH CHECK ADD  CONSTRAINT [FK_TblEmployees_TblEmployees_ReportsTo] FOREIGN KEY([ReportsTo])
REFERENCES [dbo].[TblEmployees] ([EmployeeID])
GO
ALTER TABLE [dbo].[TblEmployees] CHECK CONSTRAINT [FK_TblEmployees_TblEmployees_ReportsTo]
GO
ALTER TABLE [dbo].[TblEmployees]  WITH CHECK ADD  CONSTRAINT [FK_TblEmployees_TblJobTitles_JobTitleId] FOREIGN KEY([JobTitleId])
REFERENCES [dbo].[TblJobTitles] ([JobTitleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblEmployees] CHECK CONSTRAINT [FK_TblEmployees_TblJobTitles_JobTitleId]
GO
ALTER TABLE [dbo].[TblFavorites]  WITH CHECK ADD  CONSTRAINT [FK_TblFavorites_TblClientProfiles_ClientProfileID] FOREIGN KEY([ClientProfileID])
REFERENCES [dbo].[TblClientProfiles] ([ClientProfileID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblFavorites] CHECK CONSTRAINT [FK_TblFavorites_TblClientProfiles_ClientProfileID]
GO
ALTER TABLE [dbo].[TblFavorites]  WITH CHECK ADD  CONSTRAINT [FK_TblFavorites_TblProperties_PropertyID] FOREIGN KEY([PropertyID])
REFERENCES [dbo].[TblProperties] ([PropertyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblFavorites] CHECK CONSTRAINT [FK_TblFavorites_TblProperties_PropertyID]
GO
ALTER TABLE [dbo].[TblProperties]  WITH CHECK ADD  CONSTRAINT [FK_TblProperties_LkpPropertyStatus_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[LkpPropertyStatus] ([StatusID])
GO
ALTER TABLE [dbo].[TblProperties] CHECK CONSTRAINT [FK_TblProperties_LkpPropertyStatus_StatusId]
GO
ALTER TABLE [dbo].[TblProperties]  WITH CHECK ADD  CONSTRAINT [FK_TblProperties_LkpPropertyTypes_PropertyTypeID] FOREIGN KEY([PropertyTypeID])
REFERENCES [dbo].[LkpPropertyTypes] ([PropertyTypeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblProperties] CHECK CONSTRAINT [FK_TblProperties_LkpPropertyTypes_PropertyTypeID]
GO
ALTER TABLE [dbo].[TblProperties]  WITH CHECK ADD  CONSTRAINT [FK_TblProperties_TblDeveloperProfiles_DeveloperProfileID] FOREIGN KEY([DeveloperProfileID])
REFERENCES [dbo].[TblDeveloperProfiles] ([DeveloperProfileID])
GO
ALTER TABLE [dbo].[TblProperties] CHECK CONSTRAINT [FK_TblProperties_TblDeveloperProfiles_DeveloperProfileID]
GO
ALTER TABLE [dbo].[TblProperties]  WITH CHECK ADD  CONSTRAINT [FK_TblProperties_TblEmployees_AgentId] FOREIGN KEY([AgentId])
REFERENCES [dbo].[TblEmployees] ([EmployeeID])
GO
ALTER TABLE [dbo].[TblProperties] CHECK CONSTRAINT [FK_TblProperties_TblEmployees_AgentId]
GO
ALTER TABLE [dbo].[TblProperties]  WITH CHECK ADD  CONSTRAINT [FK_TblProperties_TblZones_ZoneID] FOREIGN KEY([ZoneID])
REFERENCES [dbo].[TblZones] ([ZoneID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblProperties] CHECK CONSTRAINT [FK_TblProperties_TblZones_ZoneID]
GO
ALTER TABLE [dbo].[TblPropertyFeaturesMapping]  WITH CHECK ADD  CONSTRAINT [FK_TblPropertyFeaturesMapping_TblProperties_PropertyID] FOREIGN KEY([PropertyID])
REFERENCES [dbo].[TblProperties] ([PropertyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblPropertyFeaturesMapping] CHECK CONSTRAINT [FK_TblPropertyFeaturesMapping_TblProperties_PropertyID]
GO
ALTER TABLE [dbo].[TblPropertyFeaturesMapping]  WITH CHECK ADD  CONSTRAINT [FK_TblPropertyFeaturesMapping_TblPropertyFeatures_FeatureID] FOREIGN KEY([FeatureID])
REFERENCES [dbo].[TblPropertyFeatures] ([FeatureID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblPropertyFeaturesMapping] CHECK CONSTRAINT [FK_TblPropertyFeaturesMapping_TblPropertyFeatures_FeatureID]
GO
ALTER TABLE [dbo].[TblPropertyImages]  WITH CHECK ADD  CONSTRAINT [FK_TblPropertyImages_TblProperties_PropertyID] FOREIGN KEY([PropertyID])
REFERENCES [dbo].[TblProperties] ([PropertyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblPropertyImages] CHECK CONSTRAINT [FK_TblPropertyImages_TblProperties_PropertyID]
GO
ALTER TABLE [dbo].[TblZones]  WITH CHECK ADD  CONSTRAINT [FK_TblZones_TblCities_CityID] FOREIGN KEY([CityID])
REFERENCES [dbo].[TblCities] ([CityID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblZones] CHECK CONSTRAINT [FK_TblZones_TblCities_CityID]
GO
USE [master]
GO
