@model Estately.Services.ViewModels.LkpPropertyTypeViewModel
@{
    ViewData["Title"] = "Edit Property Type";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="table-container">
    <h4>Edit Property Type</h4>
    
    <form method="post" asp-action="EditPropertyType" asp-controller="Admin" class="mt-4">
        <input type="hidden" asp-for="PropertyTypeID" />
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
        
        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="TypeName" class="form-label"></label>
                <input asp-for="TypeName" class="form-control" />
                <span asp-validation-for="TypeName" class="text-danger"></span>
            </div>
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-admin me-2">Update Property Type</button>
            <a asp-action="PropertyTypes" asp-controller="Admin" class="btn btn-admin-outline">Cancel</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

