@model Estately.Services.ViewModels.CityViewModel

@{
    ViewData["Title"] = "Edit City";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="table-container">
    <h4>Edit City</h4>

    <form asp-action="Edit" method="post" class="mt-4">

        <input type="hidden" asp-for="CityID" />

        <div class="mb-3">
            <label class="form-label">City Name</label>
            <input asp-for="CityName" class="form-control" />
            <span asp-validation-for="CityName" class="text-danger"></span>
        </div>

        <div class="mt-4">
            <button class="btn btn-admin">
                <i class="bi bi-save me-2"></i>Save Changes
            </button>
            <a asp-action="Index" class="btn btn-secondary">
                <i class="bi bi-arrow-left-circle me-2"></i>Back to List
            </a>
        </div>

    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}