@model Estately.Services.ViewModels.ZonesViewModel

@{
    ViewData["Title"] = "Create Zone";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Create Zone</h4>

<form asp-action="Create" method="post" class="mt-4">

    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="mb-3">
        <label class="form-label">City <span class="text-danger">*</span></label>
        <select asp-for="CityId" class="form-control" asp-items="ViewBag.City"></select>
    </div>

    <div class="mb-3">
        <label class="form-label">Zone Name <span class="text-danger">*</span></label>
        <input asp-for="ZoneName" class="form-control" />
        <span asp-validation-for="ZoneName" class="text-danger"></span>
    </div>

    <div class="mt-4">
        <button type="submit" class="btn btn-admin">
            <i class="bi bi-check-circle me-2"></i>Create
        </button>

        <a asp-action="Index" class="btn btn-secondary">
            <i class="bi bi-arrow-left-circle me-2"></i>Back to List
        </a>
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

